__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.DS_Store
.conda/
.idea/
*.swp
*.swo
*~
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.cache/
node_modules/
yarn-error.log
package-lock.json
media/
*.db
*.sqlite
*.log
